######################
# Eclipse
######################
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.factorypath

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar
